.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: day-change 100s linear infinite;
}

@keyframes day-change {
    17% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    50% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    83% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;

    animation: ship 60s linear infinite;
}

@keyframes ship {
    0% {
        transform: translateX(110px);
    }
    100% {
        transform: translateX(-500px);
    }
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    top: -25px;
    right: 44px;
    animation: smoke 3s linear 0s infinite;
}

.smoke-2 {
    top: -25px;
    right: 42px;
    animation: smoke 3s linear 1s infinite;
}

.smoke-3 {
    top: -25px;
    right: 49px;
    animation: smoke 3s linear 2s infinite;
}

@keyframes smoke {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px) scale(2);
    }
}

.sun {
    position: absolute;
    top: 380px;
    right: 105%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: sun 10s linear infinite;
}

@keyframes sun {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: 50% 380px;
    animation: sun-wrapper 100s linear infinite;
}

@keyframes sun-wrapper {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;
    animation: cloud1 70s linear infinite;
}

@keyframes cloud1 {
    0% {
        transform: translateY(0px) rotateY(180deg) scale(0.2);
    }
    100% {
        transform: translateX(620px) rotateY(180deg) scale(0.2);
    }
}

.cloud-2 {
    top: 50px;
    animation: cloud2 40s linear infinite;
}

@keyframes cloud2 {
    0% {
        transform: translateX(0px) scale(0.3);
    }
    100% {
        transform: translateX(620px) scale(0.3);
    }
}

.cloud-3 {
    top: 100px;
    animation: cloud3 30s linear 1s infinite;
}

@keyframes cloud3 {
    0% {
        transform: translateX(0px) scale(0.4) rotateY(180deg);
    }
    100% {
        transform: translateX(620px) scale(0.4) rotateY(180deg);
    }
}

.cloud-4 {
    top: 170px;
    animation: cloud4 20s linear 1s infinite;
}

@keyframes cloud4 {
    0% {
        transform: translateX(0px) scale(0.6);
    }
    100% {
        transform: translateX(644px) scale(0.6);
    }
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}
